
@model HaloMMSiteMVC.Models.Player
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (@Html.BeginForm("SearchResults", "Home", FormMethod.Post))
{
    /* info icon */
    <div>
        <img id="info" src="../Content/information.png" alt="info">
    </div>

    /* info text 
    <div id="infotxt">
        Folks,,,, you simply gotta wait <br />
        about 10 minutes the first time you use this damn thing<br />
        but after that???? why of course, a humble 15-30 seconds should do<br />
        just fine.
    </div>
    */

    <div>
        <form action="SearchResults" method="post">
            Gamertag 1<br>
            <input type="text" name="gt1"><br><br>
            Gamertag 2<br>
            <input type="text" name="gt2"><br><br>

            <input type="submit" value="Search">
        </form>
    </div>
}

