
@model HaloMMSiteMVC.Models.Player
@{
    ViewBag.Title = "Pointcheck";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@using (@Html.BeginForm("SearchResults", "Home", FormMethod.Post))
{

    <!-- Start Info Text -->
    <div class="infoText xForm">
        <p id="text">
            <h1><u>Search Times</u></h1><br>
            The first time searching a particular Gamertag can take up to ~3 minutes. After the first search the Gamertag will be added
            to the database and subsequent searches will be much faster (less that 10 seconds in most cases).
            <br><br>
            <h1><u>Requirements</u></h1><br>
            - You need to use the <b>current</b> Gamertag of the  Xbox Live accounts you're trying to search.<br>
            - Games played after 03/31/2012 aren't available. Bungie did not record Halo 3 games played after this date.<br>
            - Search is not case sensitive.
        </p>
    </div>
    <!-- End Info Text -->
    <!-- Start H3 Gamertags Form -->
    <div class="gtForm" align="center">
        <form class="h3Form">
            Gamertag 1:<br>
            <input type="text" name="gamertag1"><br>
            Gamertag 2:<br>
            <input type="text" name="gamertag2"><br><br>
            Matchmaking
            <input type="checkbox" name="mmCheck" value="mm" checked="checked"><br>
            Custom Games
            <input type="checkbox" name="customsCheck" value="custom" checked="checked"><br>
            <input class="searchButton" type="submit" value="Search">
        </form>
    </div>
    <!-- End H3 Gamertags Form -->
    <!-- Start Info Icon -->
    <div class="infoIcon">
        <img class="info" src="../Content/information.png" alt="info">
    </div>
    <!-- End Info Icon -->
}
