
@model HaloMMSiteMVC.Models.Player
@{
    ViewBag.Title = "Point Check";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (@Html.BeginForm("SearchResults", "Home", FormMethod.Post))
{
   

    <div>
        <form action="SearchResults" method="post">
            <div id="infoIcon">
                <img src="~/Content/information.png" width="20" height="20" />  
            </div>
            Gamertag 1<br>

            <input type="text" name="gt1"><br><br>

            Gamertag 2<br>

            <input type="text" name="gt2"><br><br>

            <label>Matchmaking</label>

            @Html.CheckBox("mmCheckBox") <br />

            <label>Custom Games</label>

            @Html.CheckBox("cusCheckBox") <br />

            <input type="submit" value="Search">
        </form>
    </div>
}
