@model HaloMMSiteMVC.Models.Player
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}


<div class="wrapper wrapperh3">
    <a href="http://halommsitemvc-test.us-east-2.elasticbeanstalk.com/"><i class="fa fa-home toggle_menu opacity_one"></i></a>


    <div class="p1Emb">

        <img src="http://halo.bungie.net/Stats/emblem.ashx?s=70&amp;0=24&amp;1=2&amp;2=24&amp;3=2&amp;fi=10&amp;bi=40&amp;fl=1&amp;m=1" width="50" height="50" />
        KIFFLOM
    </div>
    <div class="gameCount">
        183 game(s) played
    </div>
    <div class="p2Emb">
        XROSSFADE
        <img src="http://halo.bungie.net/Stats/emblem.ashx?s=70&amp;0=18&amp;1=20&amp;2=18&amp;3=20&amp;fi=52&amp;bi=16&amp;fl=1&amp;m=1" width="50" height="50" />

    </div>


    <div class="resultsTable">
        <table>



            <tr>


                <th>
                    Date
                </th>
                <th>
                    Link
                </th>
                <th>
                    Map
                </th>
                <th>
                    Gametype
                </th>
                <th>
                    Playlist
                </th>
            </tr>


            <tr>
                <td>
                    8/24/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1778967896' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    7/26/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1734801051' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    6/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1672937025' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    6/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1672926757' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    MLG Team Ball
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    6/3/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1668269165' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/31/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1665821355' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1665049798' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1665030939' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1665012959' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664976217' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664515767' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664496444' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664488193' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664477316' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1664462529' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663962618' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663936484' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663924544' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663919447' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663843788' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663833803' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663822525' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663815210' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663807481' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/29/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1663798879' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    5/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1644638273' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1644625462' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1644616846' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1644601219' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1644594859' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/24/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1631711272' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/24/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1631695242' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/24/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1631679607' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630667292' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630654516' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630515743' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630499178' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630489524' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630465791' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630454390' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630443277' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630178956' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630159587' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630146849' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630141902' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630130916' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/23/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1630113203' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628796117' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628784417' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628767141' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628747339' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628737644' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628730545' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628718419' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628708255' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/21/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628686873' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/20/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1628001234' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/20/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627982156' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/20/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627957688' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627216158' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627199356' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627196571' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627149451' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627131137' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/19/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1627114669' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626430345' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626421991' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626353476' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626334803' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626323058' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626312271' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626300712' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/18/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1626273490' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625339898' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625320476' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625300440' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625277365' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625265074' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625254248' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625241565' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625218679' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625168313' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625160556' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625154791' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625145449' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/17/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1625122582' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/15/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1622661213' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/15/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1622651500' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/13/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1621289306' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/13/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1621281507' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/13/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1621259157' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620461501' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620453893' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620445783' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620430739' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620421508' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620409648' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620401148' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620388956' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620379804' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620331697' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620316970' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620299155' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620286358' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620267926' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620255563' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620246586' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620237143' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620219188' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620207859' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/12/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1620194119' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/11/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1619577741' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/11/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1619555914' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/11/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1619522169' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1618358121' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1618318373' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1618291948' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617296780' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617288084' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617285754' target="_blank">Link</a>
                </td>
                <td>
                    Sandbox
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617258191' target="_blank">Link</a>
                </td>
                <td>
                    Sandbox
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617249141' target="_blank">Link</a>
                </td>
                <td>
                    Sandbox
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617234874' target="_blank">Link</a>
                </td>
                <td>
                    Sandbox
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617164657' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617138357' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617112181' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    Infection
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617085466' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1617068969' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    Oddball
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616739123' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team King
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616718215' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616707240' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616697500' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616604402' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616472601' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616463436' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616451853' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616434422' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616427815' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616419501' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616411126' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    4/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1616403514' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Ball
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/31/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1606567100' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    Ctf
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    3/31/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1606559444' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    3/31/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1606544060' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603115567' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603100793' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603087402' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603070268' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603051513' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/28/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1603038644' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/13/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1587754598' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/13/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1587745420' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1583786192' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/10/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1583776400' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581111474' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581096405' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581072336' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581057531' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581047792' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581031607' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581018147' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581006575' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Team Ball
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1581001766' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580978383' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580954225' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580941209' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580927733' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580918979' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    3/7/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1580898710' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    2/9/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1549438091' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    1/2/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1504259190' target="_blank">Link</a>
                </td>
                <td>
                    Construct
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    1/2/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1504246897' target="_blank">Link</a>
                </td>
                <td>
                    Heretic
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    1/2/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1504236915' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    Ctf
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    1/2/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1504215065' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    1/2/2010
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1504204243' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    Slayer
                </td>
                <td>
                    Custom Game
                </td>
            </tr>
            <tr>
                <td>
                    11/26/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1461236836' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    10/30/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1428158012' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    10/5/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1385532078' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Multi Flag
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    9/26/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1368646911' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    9/26/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1368626952' target="_blank">Link</a>
                </td>
                <td>
                    Narrows
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    6/9/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1176060334' target="_blank">Link</a>
                </td>
                <td>
                    Foundry
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1158849943' target="_blank">Link</a>
                </td>
                <td>
                    Guardian
                </td>
                <td>
                    MLG Team Ball
                </td>
                <td>
                    MLG
                </td>
            </tr>
            <tr>
                <td>
                    5/30/2009
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=1158820594' target="_blank">Link</a>
                </td>
                <td>
                    The Pit
                </td>
                <td>
                    MLG Team Slayer
                </td>
                <td>
                    MLG
                </td>
            </tr>
        </table>
    </div>
</div>

