
@{
    ViewBag.Title = "Search Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutForm">
    <form class="aboutForm">
      <h1>Search Times</h1>
        <p>The first time a Gamertag is searched, it can take up to 15 minutes to "scrape" the player's Bungie.net profile. </p>

    </form>
</div>

