body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2vw;
	color: #fff;width:100%;
	overflow: scroll;
	position: absolute;	
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-size: auto;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;   
	background-image: url(narrows.jpg);
	z-index::; 0;
}

form {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px;
	width: 10%;
	position: relative;
	margin-top: 15%;
	margin-left: 35%;
	margin-bottom: 25%;
	text-align: center;
	display: table;
	border: 1px solid white;
	overflow: scroll;
}

/* .move needs the scripts in the pointcheck folder to work*/
/*.move{
	margin: auto;
	position: fixed;
	background: url("../images/narrowsPC.jpg");
	background-repeat: no-repeat;
	width: 110%;
	height: 110%;
}*/

table {
	table-layout: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 200px;
	width: 100%;
	position: relative;
	text-align: left;
	display: table;
	border: 1px solid white;
	white-space: nowrap;
}

th, td {
	padding: 15px;
	white-space: nowrap;
}

/*information icon*/
#info {
	height: 20px;
	width: 20px;
	position: relative;
	top: -80px;
	-webkit-filter: invert(100%);
}

/*information text*/
/*#infotxt {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #43474c;
	height: 260px;
	width: 232px;
	z-index: 10;
	border: 1px solid white;
	white-space: normal;
	overflow: hidden;
}*/
	